body { 
    color: white;
    background: black;
}

header {
    border; solid 2xp rgb(42, 122, 228) ;
    padding: 20px;
    font-size: 32px;
    color: rgb ( green 42, 122, 228)
}
section{
    background: rgb(184,156, 213);
    padding-bottom: 80px
    display: flex; 
     justify-content: center;
    div {
    margin-right: 20px;
}
